.List2{
    position: relative;
    &__categories{
        img{
            width: 7%;
            
        position: absolute;
        top: 190px;
        left: 150px;
        border: 2px solid red;
        border-radius: 20px;
        
        }
    }
    h2{
        position: absolute;
        right: 20px;
        top: 190px;
    }
    h3{
        position: absolute;
    
        top: 190px; 
    }
   
    p{
    
        position: absolute;
        left: 380px;
        top: 190px;
        font-size: 25px;
    }
}
.delete2{
    position: absolute;
left: 90px;
top: 230px;

}