.Whis{
  
    h1::after{
        content: "";
        display: block;
        height: 3px;
        margin-top: 10px;
        background-color: #000;
      }
      button{
        margin-top: 350px;
        background-color:  #C20D1E;;
        width: 180px;
        height: 30px;
        color: #fff;
        border: none;
        border-radius: 10px;
      }
  
}
