*{
    margin: 0;
    padding: 0;
}
.Navbar{
   background-color: black;
   color: #fff;
   height: 10vh;
   
   
  li{
    display:inline;
    font-size: 2vw;
    padding: 0 15px;
    
    
        
    
  }

}
.Container{
    background-color: aqua;
    
  }