
@keyframes moveRightAndBack {
    0% {
        transform: translateX(40vw);
      }
      100% {
        transform: translateX(-40vw);
      }
  }
  @media screen and (max-width: 1300px) {
    .Recipie__card {
        margin-left: 1rem;
    }
  }
  @media screen and (max-width: 1200px) {
    ._btnRedFill {
        top: 100vh;
    }
  }
  @media screen and (max-width: 1000px) {
    ._btnRedFill {
        top: 85vh;
    }
  }

  /* Make the font size 5% of the viewport width */
@media screen and (max-width: 800px) {
    
    .Header__mobileMenu {
        font-size: 4rem;
        color: white;
        display: block;
    }
    .Header__icons {
        display:none;
    }
    .btnRedFill {
        top: 40vh;
    }
    ._btnRedFill {
        top: 75vh;
    }
    
    .Categories__box  {
        animation: moveRightAndBack 8s infinite alternate-reverse ease-in-out;
    }
    .Categories .heading {
        padding: .5rem;
    }
    .About{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .About__title h1 ,.About__title h1 span{
        font-size: 3rem;  
    }

    .About__title p ,.About__title h6 {
        font-size: 1rem;
    }
    .About__image {
        left: -2rem;
        top: 4.8rem;
        opacity: .5;
        z-index: -1;
    }
    .About__image img {
        width: 90%;
    }
    .Contact {
        width:100vw;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

    } 
    .Contact__head {
        top: 0vh;
    }
    .Seller {
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0; 
        margin-right: 0;
    }
    .Card__btn button {
        margin-top: 1.5rem;
    }
    .Seller__titleBar {
        left: 0;
    }
    .Today {
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0; 
        margin-right: 0;
    }
    ._headerText {
        left: 0;
        bottom: 0;
    }
    .Recipie {
       display :none;
    }
    .Foot__row {
        flex-direction: column;
    }
    

}
@media screen and (max-width: 700px) {
    ._btnRedFill {
        top: 65vh;
    }
  }
@media screen and (max-width: 600px) {
    ._btnRedFill {
        top: 85vh;
    }
}
@media screen and (max-width: 500px) {
    ._btnRedFill {
        top: 80vh;
    }
  }
@media screen and (max-width: 400px) {
    ._btnRedFill {
        top: 70vh;
    }
    .About__title h6 {
        top: 30rem;
        font-size: .9rem;
    }
  }